doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no' name='viewport')
    title Reset Password
    link(rel='shortcut icon' href='/auth/assets/img/stisla-fill.svg' type='image/x-icon')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
    link(rel='stylesheet' href='/auth/assets/css/style.css')
    link(rel='stylesheet' href='/auth/assets/css/components.css')
  body
    #app
      section.section
        .container.mt-5
          .row
            .col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-6.offset-lg-3.col-xl-4.offset-xl-4
              .login-brand
                img.shadow-light.rounded-circle(src='/auth/assets/img/stisla-fill.svg' alt='logo' width='100')
              .card.card-primary
                .card-header
                  h4 Reset Password
                .card-body
                  != messages('message', locals)
                  form(method='POST',action='/reset_password_post/#{id}')
                    
                    .form-group
                      label(for='password') New Password
                      input#password.form-control.pwstrength(type='password' data-indicator='pwindicator' name='password' tabindex='2' required='')
                      #pwindicator.pwindicator
                        .bar
                        .label
                    .form-group
                      label(for='password-confirm') Confirm Password
                      input#password-confirm.form-control(type='password' name='confirm_password' tabindex='2' required='')
                    .form-group
                      button.btn.btn-primary.btn-lg.btn-block(type='submit' tabindex='4')
                        | Reset Password
              .simple-footer
               a(href="/") Go back to home page 
             
   
    script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js')
    script(src='/auth/assets/js/stisla.js')
    script(src='/auth/assets/js/scripts.js')
    script(src='/auth/assets/js/custom.js')
   
